<div class="text-center">
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>



<h1>投稿一覧</h1>
<div class="row">
<%= link_to "投稿する", new_topix_path %><br>


<% @topixes.each do |topix| %>
<ul class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
    <li class="dropdown-menu">
      <%= link_to "投稿を編集する", edit_topix_path(topix.id)%>
      <%= link_to "投稿を削除する", topix_path(topix.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
    </li>
</ul>
<p><%= profile_img(topix.user) %><%= topix.user.name %></p>
<p><%= topix.content %></p>
<%= image_tag(topix.image) %>
<%= link_to "コメントする", topix_path(topix), class: 'btn btn-default btn-sm btn-default' %>
<% end %>
</div>
</div>
