<div class="text-center">
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>



<h1>投稿一覧</h1>
<div class="row">
<%= link_to "投稿する", new_topix_path %><br>

<% @topixes.each do |topix| %>
<% if current_user.friend.include?(topix.user) or (current_user.id == topix.user.id) %>
<div class="bg-default">

<p><%= profile_img(topix.user) %><%= topix.user.name %></p>
<p><%= topix.content %></p>
<%= image_tag(topix.image) %>
<p><%= link_to "コメントする", topix_path(topix), class: 'btn btn-default btn-sm btn-default' %></p>
<%= link_to "投稿を編集する", edit_topix_path(topix.id)%>
<%= link_to "投稿を削除する", topix_path(topix.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>

</div>
<% end %>
<%end%>
</div>
</div>
