<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="blog-text">
      <p class="left"><%= profile_img(@user) %></p>
      <p class="left"><strong>名前</strong></p>
      <p class="left"><%= @user.name %></p>
      <p class="left"><strong>eメール</strong></p>
      <p class="left"><%= @user.email %></p>
      <p class="right">
        <strong>登録時間:</strong>
        <%= @user.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
    </div>
</div>

<%= render partial: 'followed_users', locals: {user: @user}%>
<%= render partial: 'followers', locals: {user: @user}%>
